@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Superion";
  src: url("/fonts/superion.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 29, 32, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Animations */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(34, 197, 94, 0.7);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(34, 197, 94, 0);
  }
}
.connected {
  animation: pulse 1.5s infinite;
}
